/* Styles for adjustiong layout of the default framework */
@import './layout.css';
/* Styles for stolen nextra components */
@import './nextra.css';

* {
  font-family: 'Sawarabi Gothic', 'Noto Sans Kr', sans-serif;
  word-break: keep-all;
}

/* Change the font-family of the link in the navbar only */
.nextra-nav-container a span {
  font-family: 'Do hyeon';
  font-size: 18px;
}

/* Change the search input background color */
.nextra-search input {
  background-color: rgba(0, 0, 0, 0.03);
}
html[style='color-scheme: dark;'] .nextra-search input {
  background-color: rgba(249, 250, 251, 0.075);
}

/* Home page background color */
div[dir='ltr'].home {
  background-color: #fff;
}
/* Home page background color: dark mode */
html[style='color-scheme: dark;'] div[dir='ltr'].home {
  background-color: #111;
}

/* Banner */
div[dir='ltr'].home .nextra-banner-container {
  z-index: 16;
}
div[dir='ltr'].home .nextra-sidebar-container {
  z-index: 17;
}
